.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.overlay {
  position          : fixed;
  top               : 0;
  left              : 0;
  right             : 0;
  bottom            : 0;
  backgroundColor   : rgba(255; 255; 255; 0.75);
}

.modalbox {
  position                   : absolute;
  top                        : 40px;
  left                       : 40px;
  right                      : 40px;
  bottom                     : 40px;
  border                     : 1px solid #ccc;
  background                 : #fff;
  overflow                   : auto;
  WebkitOverflowScrolling    : touch;
  borderRadius               : 4px;
  outline                    : none;
  padding                    : 20px;
}
